# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
terraform.tfvars
*.env
ssh_key*

# Python
__pycache__/
*.pyc
venv/

# OS
.DS_Store
Thumbs.db
